*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*propiedad que le dice a css de como se van a comportar las propiedades de alto y ancho de las cajas que creamos */
}

 html, body {background-color: #1b1b32;}

 .App {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    font-family: Lato, sans-serif;
 }

 .freecodecamp-logo-contenedor {
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: 20px;
 }
 .freecodecamp-logo {
    height: 400px;
 }

 .contador-principal {
   height: 550px;
   min-width: 600px; 
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
 }